<div id="<%= dom_id case_record %>">
  <div>
    <strong>Title:</strong>
    <%= case_record.title %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= case_record.description %>
  </div>

  <div>
    <strong>Client name:</strong>
    <%= case_record.client_name %>
  </div>
</div>